lib/dtd/atypon/v1.1.1/dtd/Atypon-archive-custom-elements1.ent

<!-- ============================================================= -->
<!--  MODULE:    Journal Archiving DTD New Custom Elements Module  -->
<!--  VERSION:   ANSI/NISO JATS Version 1.0                        -->
<!--             Atypon Customization                              -->
<!--  DATE:      February 2016                                     -->
<!--                                                               -->
<!--    Created from, and fully compatible with, the ANSI/NISO     -->
<!--    Z39.96 Journal Article Tag Suite (JATS).                   -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//Atypon//DTD Atypon JATS (Z39.96) Journal Archiving DTD - Collection of Custom Atypon Elements v1.1.1 20160223//EN"
Delivered as file "Atypon-archive-custom-elements1.ent"            -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
     =============================================================
     Atypon JATS Version 1.1.1        (Atypon) v1.1.1 (2016-02-23)

  5. Changed version to 1.1.1 - Based on JATS Version 1.1.1

     =============================================================
     Atypon JATS Version 1.1.0        (Atypon) v1.1.0 (2014-11-07)

  4. Changed version to 1.1.0 - Based on JATS Version 1.1.0

     =============================================================
     Atypon JATS Version 1.0.1        (Atypon) v1.0.1 (2013-03-12)
   
  3. ACCREDITATION - Enhance <accreditation> model with additional
     metadata needed by some CME exams: accred-agency, credit-type
     and description.

     =============================================================
     Atypon JATS Version 1.0.0        (Atypon) v1.0.0 (2012-08-31)
   
  2. ACCREDITATION - Added a new element <accreditation> which
     collects accreditation metadata for CME articles.

  1. QUESTION/ANSWER - Added a new element <question-wrap> to
     the sec.class. The element implements a Question/Answer
     scheme which is particularly useful to Continuing Medical
     Education articles. The model allows for simple questions
     followed by their corresponding answers or for a multiple
     choice setup, where questions are followed by multiple
     alternative answers, along with the correct answer and an
     explanation.

                                                                   -->


<!-- ============================================================= -->
<!--                    QUESTION/ANSWER ELEMENTS                   -->
<!-- ============================================================= -->

<!--                    QUESTION/ANSWER ELEMENTS                   -->
<!--                    Used to model a Question/Answer scheme which
                        is particularly useful to Continuing Medical
	                Education articles. The model allows for
			simple questions followed by their
			corresponding answers or for a multiple
		        choice setup, where questions are followed
			by multiple alternative answers, along with
			the correct answer and an explanation.     -->

<!ENTITY % answer-types "essay | fill-in-the-blank | multi-select |
                         multiple-choice | short-answer |
                         true-false"                                 >

<!ELEMENT  question-wrap
            (object-id*, question,
	       (answer | answer-set)?, explanation*)                 >

<!ENTITY % question-wrap-atts
           "%jats-common-atts;
             audience           CDATA                     #IMPLIED
             content-type       CDATA                     #IMPLIED
             specific-use       CDATA                     #IMPLIED
             xml:lang           NMTOKEN                   #IMPLIED"  >

<!ATTLIST  question-wrap
            %question-wrap-atts;                                     >

<!ELEMENT  question
                        (object-id*, sec-meta?,
                         label?, title?, subtitle*, alt-title*,
                         ( (%sec-level;)+ |
                           ( (%para-level;)+, (%sec-level;)* ) ),
                         option*,
                         (%sec-back-matter-mix;)* )                 >

<!ENTITY % question-atts
           "%jats-common-atts;
             question-response-type	(%answer-types;)  #IMPLIED
             content-type		CDATA             #IMPLIED
             specific-use		CDATA             #IMPLIED
             xml:lang                   NMTOKEN           #IMPLIED"  >

<!ATTLIST  question
            %question-atts;                                          >

<!ELEMENT  question-wrap-group
                        (object-id*,
                          label?, title?, subtitle*, alt-title*,
                          question-preamble?,
                          question-wrap+ )                          >

<!ENTITY % question-wrap-group-atts
           "%jats-common-atts;
             audience           CDATA                     #IMPLIED
             content-type	CDATA                     #IMPLIED
             specific-use	CDATA                     #IMPLIED
             xml:lang           NMTOKEN                   #IMPLIED"  >

<!ATTLIST  question-wrap-group
            %question-wrap-group-atts;                               >

<!ELEMENT  question-preamble
                        (object-id*,
                          label?, title?, subtitle*, alt-title*,
                          (%para-level;)*, (%sec.class;)*  )        >

<!ENTITY % question-preamble-atts
           "%jats-common-atts;
             content-type	CDATA                     #IMPLIED
             specific-use	CDATA                     #IMPLIED
             xml:lang           NMTOKEN                   #IMPLIED"  >

<!ATTLIST  question-preamble
            %question-preamble-atts;                                 >

<!ELEMENT  answer
                        (object-id*,
                          label?, title?, subtitle*, alt-title*,
                          ( (%sec-level;)+ |
                          ( (%answer-para-level;)+, (%sec-level;)* ) ),
                          (%sec-back-matter-mix;)*, explanation* )   >

<!ENTITY % answer-atts
           "%jats-common-atts;
             pointer-to-question	IDREFS            #REQUIRED
             content-type		CDATA             #IMPLIED
             specific-use		CDATA             #IMPLIED
             xml:lang                   NMTOKEN           #IMPLIED"  >

<!ATTLIST  answer
            %answer-atts;                                            >

<!ELEMENT  answer-set
                        (object-id*,
                          label?, title?, subtitle*, alt-title*,
                          (answer | %just-para.class; |
                           explanation)+)                           >

<!ENTITY % answer-set-atts
           "%jats-common-atts;
             content-type	CDATA                     #IMPLIED
             specific-use	CDATA                     #IMPLIED
             xml:lang           NMTOKEN                   #IMPLIED"  >

<!ATTLIST  answer-set
            %answer-set-atts;                                        >

<!ELEMENT  option
                        (object-id*,
                          label?, title?, subtitle*, alt-title*,
                          ( (%sec-level;)+ |
                            ( (%answer-para-level;)+,
                              (%sec-level;)* ) ),
                          (%sec-back-matter-mix;)*,
                           explanation*)                            >

<!ENTITY % option-atts
           "%jats-common-atts;
             correct            (yes | no)                #IMPLIED
             content-type       CDATA                     #IMPLIED
             specific-use	CDATA                     #IMPLIED
             xml:lang           NMTOKEN                   #IMPLIED"  >

<!ATTLIST  option
            %option-atts;                                            >

<!ELEMENT  explanation
                        (object-id*,
                          label?, title?, subtitle*, alt-title*,
                          ( (%sec-level;)+ |
                            ( (%answer-para-level;)+,
                              (%sec-level;)* ) ),
                          (%sec-back-matter-mix;)*)                 >

<!ENTITY % explanation-atts
           "%jats-common-atts;
             pointer-to-explained	IDREFS            #REQUIRED
             content-type		CDATA             #IMPLIED
             specific-use		CDATA             #IMPLIED
             xml:lang                   NMTOKEN           #IMPLIED"  >

<!ATTLIST  explanation
            %explanation-atts;                                       >


<!-- ============================================================= -->
<!--                EXAM ACCREDITATION INFORMATION ELEMENTS        -->
<!-- ============================================================= -->

<!--                    EXAM ACCREDITATION ELEMENTS                -->
<!--                    Used to record the accreditation body and
                        agency, the type of credit and the number
                        of credit hours earned after taking the
			exam.                                      -->
<!ENTITY % accreditation-model
            "(accred-org-name, accred-agency?, credit-type?,
	      max-credit-hours, description?)"                       >

<!ELEMENT  accreditation  %accreditation-model;                      >

<!ELEMENT  accred-org-name  (#PCDATA)                                >

<!ELEMENT  accred-agency  (#PCDATA)                                  >

<!ELEMENT  credit-type  (#PCDATA)                                    >

<!ELEMENT  max-credit-hours (#PCDATA)                                >

<!ELEMENT  description (%just-para.class;)+                          >

<!-- correct-answers-percent: Specifies the percentage of correct
                              answers needed to earn the specified
                              credit hours                         -->
<!ENTITY % max-credit-hours-atts
            "correct-answers-percent    NMTOKEN            #IMPLIED ">

<!ATTLIST  max-credit-hours
             %max-credit-hours-atts;                                 >


<!-- ============== End Archive Atypon Custom Classes ============ -->
